

.history-heading-text,
.genre-heading-text,
.popular-heading-text {
  font-size: 25px;
  font-weight: bold;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.history-box {
  padding-top: 12px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.history-card {
  width: calc((100% / 4) - 10px);
  height: 170px;
  border-radius: 15px;
  background-image: url("../../public/pop-music.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 250px;
  cursor: pointer;
}

.history-card::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.3;
}

.song-info {
  position: absolute;
  z-index: 99;
  text-align: center;
}

.history-card .genre-name {
  font-size: 25px;
  font-weight: bold;
  font-family: Pacifico;
}

.history-card .song-name {
  font-size: 35px;
  font-weight: bolder;
  font-family: Pacifico;
}

#genre-box {
  padding-top: 12px;
}

.genre-card-box {
  display: flex;
  gap: 10px;
  padding-top: 8px;
}

.genre-card {
  width: calc((100% / 3) - 10px);
  height: 150px;
  border-radius: 15px;
  background-image: url("../../public/pop-music.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.genre-card::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.3;
}

.popular-song-row{
    display: flex;
    gap: 10px;
    margin-top: 8px;
}

.album-img-box {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 10px;
}

.album-img-box img {
  width: 100%;
  height: 100%;
}

.song-detail-box .song-name{
    font-weight: 600;
}

.play-btn{
    margin-left: auto;
    cursor: pointer;
}

.view-all{
  font-size: 15px;
}